
.footer{
    height: auto;
    width: 100%;
    background: #1f2020;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}

footer .footer-item{
    height: auto;
    width: 320px;
    border-right: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    
}
.footer-last{
    height: 120px;
    width: 100%;
    padding: 10px 0px;
    background: #1f2020;
    color: #fff;
}

.footer-last .foot-last-content{
    width: 90%;
    height: 100px;
    margin: 0px auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 1px 6px #ddd;
}

@media screen and (max-width:768px){
    .footer{
        flex-flow: column nowrap;
    }
    .footer .footer-item{
        width: 90%;
        margin: 15px auto;
    }
}