.myInfo{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
}
.myInfo .heading{
    padding: 6px 120px;
    font-size: 18px;
    background: #008877;
    color: #000;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(228, 224, 224);
}
.myInfo .myInfo-item{
    width: 99%;
    margin: 22px auto;
    height: 60vh;
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.myInfo-item .info-pic{
    height: 180px;
    width: 180px;
    margin: 10px 0px;
    border-radius: 30px 30px 10px 10px;
    background: url(../images/abhi2.png) no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 6px #000;
}
.myInfo-item span{
    color: #008877;
}
.myInfo-item .info-social-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutOne{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 20px;
}

.aboutOne .heading-one{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    margin: 0px auto;
    font-size: 2em;
    font-weight: 600;
    box-shadow: 2px 2px 8px #ddd;
}
.oneHead-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px , 1fr));
    grid-gap: 10px;
    width: 99%;
    margin: 30px auto;
}

.oneHead-item .item-one{
    height: 110px;
    width: 270px;
    box-shadow: 1px 1px 5px #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.oneHead-item .item-one .items-one-img{
    height: 60px;
    width: 60px;
    margin: 0px 10px;
}
.oneHead-item .item-one .items-one-img img{
    height: 100%;
    width: auto;
}




.Social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 80px;
    border-radius: 20px;
    width: 98%;
    margin: 0px auto;

}
.Social-media .social-links-items{
    height: 40px;
    background: #ddd;
    width: 40px;
    border-radius: 5px;
    margin: 18px 8px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: .1px .1px 2px rgb(49, 46, 46);
}
.Social-media .social-links-items img{
    width: 100%;
    height: 100%;
    border-radius: 1px;
}



/* skillllllllll components style*/
.Skills-containers{
    height: auto;
    background: #ddd;
    width: 98%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    border-radius: 10px;
}
.Skills-containers .skill-heading{
    height: 50px;
    width: 80%;
    font-size: 1.2em;
    font-weight: 600;
    margin: 10px auto;
    box-shadow: .1px .1px 3px #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Skills-containers .skill-items{
    width: 100%;
    margin: 20px;
}
.skill-items .skill-content{
    height: auto;
    width: 90%;
    padding: 20px 10px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px ,1fr));
    grid-gap: 20px;
}

.skill-items .skill-content .skill-language{
    height: 120px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 4px #7e7d7d;
}
.skill-img{
    box-shadow: 1px 1px 4px #a3a2a2;
    height: 70px;
    width: auto;
    border-radius: 10px;
    padding: 2px;
}
.skill-img img{
    height: 100%;
}
.skills{
    color: #1a2524;
    font-size: 18px;
    font-weight: 500;

}

.address{
    height: auto;
    width: 95%;
    margin: 0px auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.address .address-heading{
    height: 80px;
    width: 90%;
    font-size: 2em;
    margin: 15px auto;
    border-radius: 20px;
    background: #a3a2a2;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    justify-content: center;
}
.address .address-container{
    font-size: 18px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.address .address-container h4,
.address .address-container h5,
.address .address-container p{
    color: #ddd;
    padding: 1px;
    letter-spacing: .5px;
}






.contact-us{
    width: 100%;
    margin: 0px auto;
}

.contact-us .contact-us-container{
    width: 95%;
    margin: 0px auto;
}
.Contact-item{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.Contact-item .Contact-it{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.Contact-item .Contact-it .contact-img{
    height: 40px;
    width: 40px;
    margin: 0px 10px;
}
.Contact-item .Contact-it .contact-img img{
    height: 100%;
    width: 100%;
}


@media screen and (max-width:768px){

    .oneHead-item .item-one{
        width: 98%;
        margin: 0px auto;
    }
    .Skills-containers{
        width: 100%;
    }
    .Skills-containers .skill-heading{
        width: 100%;
    }
    .skill-items .skill-content{
        width: 98%;
        margin: 0px auto;
    }
    .skill-items .skill-content .skill-language{
    height: 90px;
    width: 95%;
    margin: 0px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 1px 4px #929090;
    }
    .skill-img{
        box-shadow: 1px 1px 4px #a3a2a2;
        height: 60px;
        width: auto;
        border-radius: 10px;
        padding: 2px;
    }
}