.App{
    height: auto;
}

footer{
    height: 15vh;
    width: 100%;
    background: #008877;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}